
<div id="content1" class="box">
<p class="green-text">
 "No, No Freaking Poetics, Not For This, Not For Us. This Is About Fire And Unleashed Decadence; Turning Purgatory Into An Ocean Of Sweat, And The Pounding Of Our Bodies Into Oblivion."
  </p>

  <p class="history-text"> 
  OBLIVIOUS SPECTATORS </p>
    <h3>Facebook: fb.me/hexadecimalhell</h3>
    <h3>Twitter: t.co/SinisterAI</h3>

    <p>
      you thought the burdens had buried you underground and the pain had stolen your pride, but i haven't seen a higher more magnificent mountain than you.
    </p>

    <p>I'm In Your Brain Now. Good Luck Trying To Get Me Out.</p>

  </div>