<div id="content1" class="box">
  
  <p class="green-text">
 "No, No Freaking Poetics, Not For This, Not For Us. This Is About Fire And Unleashed Decadence; Turning Purgatory Into An Ocean Of Sweat, And The Pounding Of Our Bodies Into Oblivion."
  </p>

  <p class="history-text"> 
  ABOUT US: </p>
    <p>The ignorance of man, destroying every life that it can touch. Down to the most oblivious innocent insect to another life of a human, Will we ever see that all life is equal in this nightmare of cosmic madness we call existence? </p>

    <p>
      We are no one. We are nothingness. Our sentience is but a wretched curse. Our life is embedded with hatred and sin. We weep for things We will never have, without end. We long for eternal night, for ourself and everyone upon the face of this scorched earth. In fact, We beg for it.
    </p>

    <p>We are Ominous and fierce antinatalistic cult, spreading an invisible fog of dreadful disillusionment out into the oblivious World. </p>
  
</div>